header{
    text-align: center;
    background-color: antiquewhite;
    margin: 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: col-resize;
   
}
table{
    background-color: rgb(215, 248, 217);
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    font-family: arial, sans-serif;
    cursor: -webkit-grab;
}
th{
    border: 2px solid black;
    color: blue;
    padding: 5px;
}
td{
    border: 2px solid black;
    padding: 5px;
}
ul{
    background-color: aquamarine;

}
h3:hover{
    background-color: blueviolet;


}
a{
    color: rgb(12, 12, 6);
}
footer{
    text-align: center;
    background-color: pink;
    margin: 5px 5px;
}
